<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
</head>
<body>
	<p><%= title %> :: Current data sets</p>
	<ul>
		<% for(var i = 0; i < sets.length; i++) { %>
		<li>
			<a href="/api/datasets/<%= sets[i]._id %>">
				<%= sets[i].name %> (<%= sets[i].created %>)
			</a>
		</li>
		<% } %>
	</ul>
</body>
</html>
